@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Playwrite+HU:wght@100..400&display=swap');
body{
    padding: 0px;
    margin: 0px;
    text-align: center;
    background-color: #EDEDED;
}
main{
    border: 3px solid #F96E4B;
}
header{
    background-color: #946840;
    padding: 5px;
    color: white;
}
nav{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    font-size: 19px;
    background-color: #EDEDED;
    border-radius: 0px;
    border: 3px solid #F96E4B;
    align-items: center;
    padding: 3px;
}
h1{
    font-family: "Playwrite HU", cursive;
}
nav img{
    width: 200px;
}
nav a{
    text-decoration: none;
    color: black;
}
nav a:hover{
    text-decoration: underline;
}
.info{
    overflow: auto;
    margin-bottom: 20px;
}
.info img{
    width: 220px;
    float: left;
    margin-right: 20px;
}
.card img{
    width: 150px;
}
.card :hover{
    transform: scale(1.05);
}
.card h1 {
    padding: 10px;

}
.card h2 {
    padding: 10px;
}

.uno {
    border-color: red;
}
.dos {
    display: flex;
    justify-content: center;
}
div a {
    text-decoration: none;

}
div a:hover{
    text-decoration: underline;
}